html {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(45deg, rgba(0, 55, 104, 1), #dc3545 100%);
  height: 100%;
}

a {
  text-decoration: none;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input.active:focus,
input:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

.login {
  border-radius: 25px;
  margin: 50px 0;
  height: 100%;
}

.logo-name {
  color: #fff;
  margin: 10px;
}

.login-text {
  color: #000037;
  font-weight: bold;
  padding: 15px;
  margin: 40px 0;
}

.login-name {
  border-radius: 25px;
  border-color: #000037;
  padding: 5px 15px;
}

.login-btn {
  color: #fff;
  background-color: #000037;
  margin: 40px auto;
  padding: 10px 15px;
  border-radius: 25px;
}

footer {
  margin-top: 10%;
  color: #fff;
}

.authors p {
  margin-top: 10px;
}

/*chat style*/

.interlocutor-name {
  color: #000037;
  font-weight: bold;
  margin: 5px;
}

.next-btn {
  color: #000037;
}

.arrow {
  width: 10px;
  height: 10px;
  border-top: 2px solid #000037;
  border-right: 2px solid #000037;
  transform: rotate(45deg);
  margin: 15px 5px;

}

.close-chat {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.quit-chat {
  position: relative;
}

.close-chat:hover {
  opacity: 80%;
}

.close-chat::after {
  transform: rotate(-45deg);
}

.close-chat::before {
  transform: rotate(45deg);
}

.close-chat::before, .close-chat::after {
  content: "";
  position: absolute;
  font-size: 40px;
  width: 25px;
  height: 5px;
  background-color: #000037;
}

.send-btn {
  color: #fff;
  background-color: #000037;
  padding: 5px 10px;
  border-radius: 25px;
}

.modal-window {
  background-color: #000037;
  border-radius: 25px;
}

.close {
  color: #fff;
}

.close:hover {
  color: #fff;
}

.modal-body {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-btn {
  color: #000037;
  font-weight: bold;
  background-color: #fff;
  padding: 5px 30px;
  border-radius: 25px;
}

.login-btn:hover,
.send-btn:hover {
  opacity: 80%;
  color: #fff;
}

.chat_content {
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: auto;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}
